@font-face {
    font-family: "AvenirNextLTProHeavy";
    font-style : normal;
    font-weight: bold;
    src        : url('fonts/AvenirNextLTPro-Heavy.ttf');
}
@font-face {
    font-family: "AvenirNextLTProMedium";
    font-style : normal;
    font-weight: medium;
    src        : url('fonts/AvenirNextLTPro-Medium.ttf');
}
@font-face {
    font-family: "AvenirNextLTProRegular";
    font-style : normal;
    font-weight: normal;
    src        : url('fonts/AvenirNextLTPro-Regular.ttf');
}
@font-face {
    font-family: "AvenirNextLTPro-UltraLight";
    font-style : normal;
    font-weight: light;
    src        : url('fonts/AvenirNextLTPro-UltLt.ttf');
}


.root {
    -fx-accent: #3F8FBC;
}


.confi-check {

}

.progress-indicator:indeterminate .segment {
    -fx-background-color: white;
}

.alert {}
.alert > *.content.label {
    -fx-font-family: "Noto Sans Mono";
}

.title-label {
    -fx-font-family: "AvenirNextLTProUltraLight";
    -fx-font-size  : 8px;
}
.subtitle-label {
    -fx-font-family: "AvenirNextLTProUltraLight";
    -fx-font-size  : 10px;
}

.small-alert {}
.small-alert > *.content.label {
    -fx-font-family: "Noto Sans Mono";
    -fx-font-size  : 12;
}

.big-alert {}
.big-alert > *.content.label {
    -fx-font-family: "Noto Sans Mono";
    -fx-font-size  : 10px;
}

.red-round-minus-button {
    -fx-background-radius: 14px;
    -fx-min-width        : 14px;
    -fx-min-height       : 14px;
    -fx-max-width        : 14px;
    -fx-max-height       : 14px;
    -fx-background-color : #B20028;
    -fx-graphic          : url('white-minus.png');
}
.red-round-minus-button:hover {
    -fx-background-color : #C30039;
}
.red-round-minus-button:disabled {
    -fx-background-color : #909090;
}

.round-plus-button {
    -fx-background-radius: 20px;
    -fx-min-width        : 20px;
    -fx-min-height       : 20px;
    -fx-max-width        : 20px;
    -fx-max-height       : 20px;
    -fx-graphic          : url('plus.png');
}

.round-minus-button {
    -fx-background-radius: 20px;
    -fx-min-width        : 20px;
    -fx-min-height       : 20px;
    -fx-max-width        : 20px;
    -fx-max-height       : 20px;
    -fx-graphic          : url('minus.png');
}

.round-search-button {
    -fx-background-radius: 20px;
    -fx-min-width        : 20px;
    -fx-min-height       : 20px;
    -fx-max-width        : 20px;
    -fx-max-height       : 20px;
    -fx-graphic          : url('search.png');
}

.round-filter-button {
    -fx-background-radius: 20px;
    -fx-min-width        : 20px;
    -fx-min-height       : 20px;
    -fx-max-width        : 20px;
    -fx-max-height       : 20px;
    -fx-graphic          : url('filter.png');
}

.check-icon {
    -fx-background-radius: 20px;
    -fx-min-width        : 20px;
    -fx-min-height       : 20px;
    -fx-max-width        : 20px;
    -fx-max-height       : 20px;
    -fx-graphic          : url('check.png');
}

.cross-icon {
    -fx-background-radius: 20px;
    -fx-min-width        : 20px;
    -fx-min-height       : 20px;
    -fx-max-width        : 20px;
    -fx-max-height       : 20px;
    -fx-graphic          : url('cross.png');
}

.search-icon {
    -fx-background-color : rgb(170, 168, 169);
    -fx-background-insets: 2 4 2 4;
    -fx-scale-shape      : true;
    -fx-shape            : "M0,9.791c0,5.403 4.387,9.775 9.791,9.775c2.078,0 3.987,-0.646 5.573,-1.755l5.726,5.743c0.324,0.307 0.724,0.446 1.14,0.446c0.893,-0 1.539,-0.677 1.539,-1.57c0,-0.431 -0.169,-0.816 -0.431,-1.109l-5.696,-5.711c1.216,-1.632 1.924,-3.633 1.924,-5.819c0,-5.404 -4.372,-9.791 -9.775,-9.791c-5.404,-0 -9.791,4.387 -9.791,9.791Zm2.371,-0c-0,-4.11 3.31,-7.42 7.42,-7.42c4.095,-0 7.42,3.31 7.42,7.42c0,4.095 -3.325,7.42 -7.42,7.42c-4.11,0 -7.42,-3.325 -7.42,-7.42Z";
}

.search-text {
    -fx-background-insets: 2 4 7 10;
    -fx-fill             : rgb(170, 168, 169);
    -fx-font-family      : 'SF Pro';
    -fx-font-size        : 12;
}

.close-icon {
    -fx-background-color : rgb(170, 168, 169);
    -fx-background-insets: 2 4 2 4;
    -fx-scale-shape      : true;
    -fx-shape            : "M13,0c7.175,0 13,5.825 13,13c0,7.175 -5.825,13 -13,13c-7.175,0 -13,-5.825 -13,-13c0,-7.175 5.825,-13 13,-13Zm-1.202,13l-3.533,3.533c-0.389,0.389 -0.389,1.021 0,1.41c0.389,0.389 1.021,0.389 1.41,-0l3.533,-3.533l3.533,3.533c0.389,0.389 1.021,0.389 1.41,-0c0.389,-0.389 0.389,-1.021 -0,-1.41l-3.533,-3.533l3.533,-3.533c0.389,-0.389 0.389,-1.021 -0,-1.41c-0.389,-0.389 -1.021,-0.389 -1.41,0l-3.533,3.533l-3.533,-3.533c-0.389,-0.389 -1.021,-0.389 -1.41,0c-0.389,0.389 -0.389,1.021 0,1.41l3.533,3.533Z";
}

.url-icon {
    -fx-background-color : rgb(90, 90, 90);
    -fx-background-insets: 2 4 2 4;
    -fx-scale-shape      : true;
    -fx-shape            : "M260.938,128.313l-0,123.249c-0,25.75 -13.125,38.75 -39.25,38.75l-143.375,0c-26.125,0 -39.25,-12.875 -39.25,-38.75l-0,-123.25c-0,-25.875 13.125,-38.75 39.25,-38.75l38.25,0l-0,20.125l-38,0c-12.5,0 -19.375,6.625 -19.375,19.625l-0,121.25c-0,13 6.875,19.625 19.375,19.625l142.75,0c12.375,0 19.5,-6.625 19.5,-19.625l-0,-121.25c-0,-13 -7.125,-19.625 -19.5,-19.625l-38,0l-0,-20.125l38.375,0c26.125,0 39.25,13 39.25,38.75Zm-111,64.125c-5.375,0 -9.875,-4.375 -9.875,-9.625l-0,-127.125l0.75,-18.625l-7,7.375l-19.375,20.625c-1.75,2 -4.5,3 -6.875,3c-5.25,0 -9,-3.75 -9,-8.75c-0,-2.75 1.125,-4.75 3,-6.625l41.125,-39.75c2.625,-2.5 4.75,-3.25 7.25,-3.25c2.625,0 4.75,0.75 7.25,3.25l41.25,39.75c1.875,1.875 2.875,3.875 2.875,6.625c-0,5 -3.875,8.75 -9.125,8.75c-2.375,0 -5,-1 -6.75,-3l-19.25,-20.625l-7,-7.375l0.75,18.625l-0,127.125c-0,5.25 -4.625,9.625 -10,9.625Z";
}

.map-icon {
    -fx-background-color : rgb(90, 90, 90);
    -fx-background-insets: 2 2 2 2;
    -fx-scale-shape      : true;
    -fx-shape            : "M20.024,105.255c-17.25,8.001 -12.5,31.126 6.5,31.251l91.126,0.375c1.5,-0 1.875,0.375 1.875,1.875l0.25,90.375c0.125,19.75 23.625,23.25 32,5.125l92.375,-198.626c8.5,-18.5 -6,-31.625 -24.375,-23l-199.751,92.625Zm21.75,11.751c-0.5,-0 -0.625,-0.5 0,-0.75l179.626,-82.251c0.875,-0.375 1.25,-0.125 0.875,0.875l-82.75,179.501c-0.125,0.5 -0.625,0.375 -0.625,-0.125l0.625,-88.375c-0,-5.5 -3.875,-9.375 -9.5,-9.375l-88.251,0.5Z";
}

.photo-icon {
    -fx-background-color : white;
    -fx-background-insets: 2 2 2 2;
    -fx-scale-shape      : true;
    -fx-shape            : "M303.375,79.688l0,152.75c0,25.75 -13,38.625 -39.25,38.625l-216.25,-0c-26.125,-0 -39.25,-12.875 -39.25,-38.625l0,-152.75c0,-25.75 13.125,-38.75 39.25,-38.75l216.25,-0c26.25,-0 39.25,13 39.25,38.75Zm-117.625,79.5l-59.75,53l-23.875,-21.5c-5.5,-5.125 -11.875,-7.625 -18,-7.625c-5.5,-0 -11.5,2.5 -17,7.375l-38.375,33.5l0,7.625c0,12.25 7.25,19.5 19.375,19.5l215.875,-0c11.875,-0 19.25,-7.25 19.25,-19.25l0,-19.25l-57.5,-53.25c-5.875,-5.5 -13,-8.125 -19.875,-8.125c-7.125,-0 -14,2.5 -20.125,8Zm-114.25,-30.875c0,17 13.875,30.875 30.875,30.875c16.875,-0 30.75,-13.875 30.75,-30.875c0,-16.875 -13.875,-30.875 -30.75,-30.875c-17,-0 -30.875,14 -30.875,30.875Z";
}

.copy-icon {
    -fx-background-color : rgb(90, 90, 90);
    -fx-background-insets: 2 3 2 3;
    -fx-scale-shape      : true;
    -fx-shape            : "M227.188,254.875l-0.001,23.125c0,26 -12.875,39.25 -38.75,39.25l-117.5,0c-25.875,0 -38.75,-13.125 -38.75,-39.25l0,-173.625c0,-26.125 13,-39.25 38.75,-39.25l21.875,0l0,-23.125c0,-26 13,-39.25 38.75,-39.25l47.875,0c13.375,0 23.875,3.375 32.75,12.5l63.125,64.125c9.375,9.625 12.5,19.375 12.5,34.75l0,101.5c0,26 -13,39.25 -38.75,39.25l-21.875,0Zm-114.25,-189.75l2.125,0c14,0 21.875,2.125 31.375,11.875l68.875,70.125c10,10.25 11.875,17.25 11.875,33.25l0,54.375l20.75,0c13,0 19.75,-7 19.75,-19.5l0,-106.875l-58.5,0c-14.375,0 -21.375,-6.875 -21.375,-21.375l0,-64.125l-55.25,0c-13,0 -19.625,7.125 -19.625,19.5l0,22.75Zm93,18.875c0,4.375 1.75,6.25 6.125,6.25l50.375,0l-56.5,-57.5l0,51.25Zm-67.125,78.5l64.375,0l-71.375,-72.625l0,65.625c0,5 2,7 7,7Zm-86.5,115.125c0,12.5 6.625,19.5 19.5,19.5l115.625,0c12.875,0 19.625,-7 19.625,-19.5l0,-96.25l-70.625,0c-15.5,0 -23.5,-7.875 -23.5,-23.625l0,-72.5l-41,0c-13,0 -19.625,7.125 -19.625,19.375l0,173Z";
}

.checkmark-icon {
    -fx-background-color : white;
    -fx-background-insets: 2 2 2 2;
    -fx-scale-shape      : true;
    -fx-shape            : "M101.813,234.813c5.374,-0.001 9.624,-2.376 12.624,-7.001l118.126,-186c2.25,-3.625 3.125,-6.375 3.125,-9.25c-0,-6.875 -4.5,-11.375 -11.375,-11.375c-5,0 -7.75,1.625 -10.75,6.375l-112.25,178.875l-58.25,-76.25c-3.125,-4.375 -6.25,-6.125 -10.75,-6.125c-7.125,0 -12,4.875 -12,11.75c-0,2.875 1.25,6.125 3.625,9.125l64.875,82.625c3.75,4.875 7.625,7.25 13,7.25Z";
}


.search-result-popup {
    -fx-background-color: transparent;
    -fx-padding         : 10;
}

.search-popup {
    -fx-background-color: #eaeaea;
    -fx-border-color    : #c8c8c8;
    -fx-effect          : dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 0.0, 1.5);
}

.selectable-text {
    -fx-text-fill           : rgb(23,34,65); /*-fx-text-background-color;*/
    -fx-highlight-fill      : derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill : -fx-text-inner-color;
    -fx-prompt-text-fill    : transparent;
    -fx-background-color    : transparent;
    -fx-background-insets   : 0;
    -fx-background-radius   : 0;
    -fx-cursor              : text;
    -fx-padding             : 0;
}
.selectable-text:focused {
    -fx-highlight-fill     : -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-prompt-text-fill   : transparent;
    -fx-background-color   : transparent;
    -fx-background-insets  : 0;
    -fx-background-radius  : 0;
}


.dialog-pane {

}
.dialog-pane .label {
    -fx-text-fill  : #172241;
    -fx-font-family: AvenirNextLTProMedium;
    -fx-font-size  : 14px;
}

.dialog-pane:header .header-panel .label {
    -fx-text-fill  : #172241;
    -fx-font-family: AvenirNextLTProMedium;
    -fx-font-size  : 16px;
}

.dialog-pane .text-field {
    -fx-font-family: AvenirNextLTProMedium;
}

.filter-list-view {
    -fx-background-color : -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-color : transparent, transparent, transparent;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}
.filter-list-view:focused {
    -fx-background-color : -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-color : transparent, transparent, transparent;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}
.filter-list-view .list-cell:even,
.filter-list-view .list-cell:odd {
    -fx-background-color: rgb(244, 244, 244);
    -fx-text-fill       : black;
}

.filter-list-cell:filled:selected:focused,
.filter-list-cell:filled:selected:hover,
.filter-list-cell:filled:selected,
.filter-list-cell:even,
.filter-list-cell:odd {
    -fx-background-color: transparent;
}


.filter-combobox {
    -fx-background-color : -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-color : transparent, transparent, transparent;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}